@media(min-width: 768px) {
    .news-input {
        width:50%;
    }
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


main{
    width: 60%;
    height: 500px;
    margin: auto;
    margin-top: 100px;
    box-shadow: 0px 0px 3px grey;
    position: relative;
    overflow: hidden;
}

.slide{
    width: 100%;
    height: 100%;
    transiton:1s;
    position: absolute;
}

.btn{
    
    text-align: center;
    margin-top: 15px;

}

.btn button {
    font-size: 25px;
    padding: 5px;
}